{% extends "base.html" %}

{% block content %}

<div class="container">

    {% if chain %}
        {% if secure %}
        <div class="alert alert-success">
        <strong>Success!</strong> THE CHAIN HAS NOT BEEN TAMPERED WITH.
        </div>

        {% else %}
        <div class="alert alert-danger">
            <strong>Danger!</strong> THE CHAIN HAS BEEN TAMPERED AT BLOCK ID {{ tampered_block_id }}.
          </div>
        {% endif %}

        <form action={% url 'JGChain:delete_all_blocks' %}  method="POST">
        <button type="submit" class="btn btn-warning">Delete All Blocks</button>
        </form>
        <br><br>
    {% else %}

    <div class="alert alert-primary" role="alert">
        There are 0 blocks currently mined!
      </div>

    {% endif %}
        {% for item in chain %}

        {% if item.id != tampered_block_id %}
            <div class="block">                
                <a href = {% url 'JGChain:block_detail_view' id=item.id %}> <h4>Block ID : {{ item.id}} </h4> </a>
                <p>Previous Hash : {{ item.previous_hash}} </p>
                <p>Current Hash : {{ item.current_hash}} </p>

                <p>Timestamp : {{ item.timestamp}} </p>
                <p>Nonce : {{ item.nonce}} </p>
                <p>Difficulty : {{ item.difficulty}} </p>

                <p>Block Data : {{ item.data}} </p>
            </div>
            <hr>
        {% else %}
        <div class="block text-danger">                
            <a href = {% url 'JGChain:block_detail_view' id=item.id %}> <h4>Block ID : {{ item.id}} </h4> </a>
            <p>Previous Hash : {{ item.previous_hash}} </p>
            <p>Current Hash : {{ item.current_hash}} </p>

            <p>Timestamp : {{ item.timestamp}} </p>
            <p>Nonce : {{ item.nonce}} </p>
            <p>Difficulty : {{ item.difficulty}} </p>

            <p>Block Data : {{ item.data}} </p>
        </div>
        <hr>
        {% endif %}

        {% endfor %}
</div>
{% endblock content %}
